.brand {
  padding: 1.5rem;
  margin: 1rem;
}
.brandInput {
  background-color: #96fdff;
  color: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1vw;
  font-weight: 500;

  text-transform: uppercase;
  word-spacing: 0.5vw;
}

.listDesign {
  display: flex;
  flex-wrap: wrap;
}
.inputSearch {
  width: 100%;
}

.cards {
  width: 100%;
  background-color: burlywood;
  margin: 5px;
  text-align: center;
  color: black;
  align-items: center;
}

.card img {
  width: 1250px;
  height: 500px;
}

body {
  background: linear-gradient(-45deg, #072227, #35858b, #4fbdba, #aefeff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
}
.cardColor {
  background-color: #072227;
  color: azure;
}
p {
  text-align: center;
  text-transform: uppercase;
}
.buttonD {
  width: 45%;
  align-items: center;
}

.buttonU {
  width: 45%;
  align-items: center;
  margin: 2rem;
}
.buttonL {
  align-items: center;
  margin: 2rem;
  width: auto;
  height: auto;
  font-weight: 700;
  color: azure;
  background-color: transparent;
  border: transparent;
  text-transform: uppercase;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 33.3333333%;
  height: 1000px;
  background-color: black !important;
  color: azure;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
  padding: 2px 16px;
}

.illusion {
  height: 20px;
  width: 20px;
}
