body {
  background-color: #35858b !important;
}
.brand {
  padding: 1.5rem;
  margin: 1rem;
}
.brandInput {
  background-color: #96fdff;
  color: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1vw;
  font-weight: 500;

  text-transform: uppercase;
  word-spacing: 0.5vw;
}

.listDesign {
  display: flex;
  flex-wrap: wrap;
}
.inputSearch {
  width: 100%;
}

.cards {
  width: 10 em;
}
.card {
  background-color: burlywood;
  margin: 5px;
}
.card img {
  width: 200px;
  height: 200px;
}
.card p {
  text-align: center;
  color: black;
}
